.page-article-list .btn {
    outline: none !important;
    margin-left: 10px;
}
.page-article-list .select-title-second {
    display: none;
}
.page-article-list table {
    margin-top: 10px;
}
.page-article-list .pager a{
    cursor: pointer;
}
.page-article-list .operate-panel {
    display: inline-block;
}
.ui-loading {
    width: 100%;
    text-align: center;
}
.ui-nodata {
    width: 100%;
    text-align: center;
}