<#include "./fragments/_header.ftl"> 
    <!-- list container -->
    <div class="list-container">
        <div class="list-main">
            <div class="list-main-nav">
            <h4 class="list-nav-title">${parentColumnName}</h4>
            <ul class="list-nav-list">
            <#list leftNav as k>
                <#if k.columnName == article.columnName>
                    <li class="active"><a href="${k.url}">${k.columnName}</a>
                <#else>
                    <li><a href="${k.url}">${k.columnName}</a></li>
                </#if>
            </#list>
            </ul>
        </div>
            <div class="baseRight list-news">
                <div class="title01">${article.columnName}</div>
                <div class="article detail">
                    <h2 id="H2Title">${article.title}</h2>
                </div>
            </div>
        </div>
    </div>
<#include "./fragments/_footer.ftl">
