<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="css/layout.css">
	<link href="css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/list.css">
	<link rel="stylesheet" href="css/common.css">
	<!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="./js/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="js/jplayer.playlist.min.js"></script>
	<script type="text/javascript">
//<![CDATA[
	$(document).ready(function(){

		new jPlayerPlaylist({
			jPlayer: "#jquery_jplayer_1",
			cssSelectorAncestor: "#jp_container_1"
		}, [
			{
				title:"Big Buck Bunny Trailer",
				artist:"Blender Foundation",
				free:true,
				m4v:"http://www.jplayer.org/video/m4v/Big_Buck_Bunny_Trailer.m4v",
				ogv:"http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
				webmv: "http://www.jplayer.org/video/webm/Big_Buck_Bunny_Trailer.webm",
				poster:"http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
			},
			{
				title:"Finding Nemo Teaser",
				artist:"Pixar",
				m4v: "http://www.jplayer.org/video/m4v/Finding_Nemo_Teaser.m4v",
				ogv: "http://www.jplayer.org/video/ogv/Finding_Nemo_Teaser.ogv",
				webmv: "http://www.jplayer.org/video/webm/Finding_Nemo_Teaser.webm",
				poster: "http://www.jplayer.org/video/poster/Finding_Nemo_Teaser_640x352.png"
			},
			{
				title:"Incredibles Teaser",
				artist:"Pixar",
				m4v: "http://www.jplayer.org/video/m4v/Incredibles_Teaser.m4v",
				ogv: "http://www.jplayer.org/video/ogv/Incredibles_Teaser.ogv",
				webmv: "http://www.jplayer.org/video/webm/Incredibles_Teaser.webm",
				poster: "http://www.jplayer.org/video/poster/Incredibles_Teaser_640x272.png"
			}
		], {
			swfPath: "js/jplayer",
			supplied: "webmv, ogv, m4v",
			useStateClassSkin: true,
			autoBlur: false,
			smoothPlayBar: true,
			keyEnabled: true
		});

		new jPlayerPlaylist({
			jPlayer: "#jquery_jplayer_2",
			cssSelectorAncestor: "#jp_container_2"
		}, [
			{
				title:"Cro Magnon Man",
				mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
				oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
			},
			{
				title:"Your Face",
				mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
				oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
			},
			{
				title:"Cyber Sonnet",
				mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
				oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
			},
			{
				title:"Tempered Song",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg"
			},
			{
				title:"Hidden",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg"
			},
			{
				title:"Lentement",
				free:true,
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg"
			},
			{
				title:"Lismore",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-04-Lismore.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-04-Lismore.ogg"
			},
			{
				title:"The Separation",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-05-The-separation.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-05-The-separation.ogg"
			},
			{
				title:"Beside Me",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-06-Beside-me.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-06-Beside-me.ogg"
			},
			{
				title:"Bubble",
				free:true,
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
			},
			{
				title:"Stirring of a Fool",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-08-Stirring-of-a-fool.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-08-Stirring-of-a-fool.ogg"
			},
			{
				title:"Partir",
				free: true,
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-09-Partir.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-09-Partir.ogg"
			},
			{
				title:"Thin Ice",
				mp3:"http://www.jplayer.org/audio/mp3/Miaow-10-Thin-ice.mp3",
				oga:"http://www.jplayer.org/audio/ogg/Miaow-10-Thin-ice.ogg"
			}
		], {
			swfPath: "js/jplayer",
			supplied: "oga, mp3",
			wmode: "window",
			useStateClassSkin: true,
			autoBlur: false,
			smoothPlayBar: true,
			keyEnabled: true
		});
	});
	//]]>
	</script>
</head>
<body class="list-body">
	<!-- header -->
	<div class="xm-header">
		<div class="xm-container">
			<a href="#" class="header-logo"><img src="img/layout/logo.png" alt=""></a>
			<div class="xm-header-main">
				<div class="header-search">
					<input type="text" class="header-search-text">
					<input type="button" class="header-search-button">
				</div>
				<div class="header-icon">
					<span class="header-icon-lang">Engliash</span>
					<a href="#" class="header-icon-wechat"></a>
					<a href="#" class="header-icon-weibo"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- nav -->
	<div style="height: 60px;">
		<div class="xm-nav">
			<div class="xm-nav-container">
				<a href="#" class="xm-nav-brand">首页</a>
				<ul class="xm-navbar-nav">
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>走进厦心</span><i></i></a></li>
					<li class="xm-navbar-item">
						<a class="xm-navbar-item-info" href="./list-news.html"><span>新闻公告</span><i></i></a>
						<div class="navboxBase">
							<div class="navboxBg">
								<div class="navbox BaseMark">
									<div class="navMenus">
										<ul>
											<li class="first">
												<a href="media.html" title="媒体看厦心">媒体看厦心<span>进入</span></a>
											</li>
											<li>
												<a href="list-news.html" title="医院新闻">医院新闻<span>进入</span></a>
											</li>
											<li>
												<a href="video.html" title="影像厦心">影像厦心<span>进入</span></a>
											</li>
											<li><a href="news-paper.html" title="电子院报">电子院报<span>进入</span></a>
											</li>
										</ul>
									</div>
									<div class="navSub2 nav_Menu02 noPic NewsSub">
										<dl class="Img02">
											<dt class="title01">最新公告</dt>
											<dd class="pic">
												<img alt="最新公告" src="./img/pic/pic_002.jpg" width="126" height="77">
											</dd>
											<dd class="Lurl">
												<em>2017-03-09</em>
												<a href="NewsDetail-8623.html" title="河南省人民医院实验技术人员招聘公告">河南省人民医院实验技术人员招聘公告</a>
											</dd>
											<dd class="url">
												<span>2016-10-21</span>
												<a href="NewsDetail-8249.html" title="河南省立眼科医院（河南省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）">河南省立眼科医院（河南省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）</a>
											</dd>
											<dd class="url">
												<span>2016-10-21</span>
												<a href="NewsDetail-8248.html" title="河南省立眼科医院（河南省眼科研究所）临床部门干部竞聘实施方案（面向国内外）">河南省立眼科医院（河南省眼科研究所）临床部门干部竞聘实施方案（面向国内外）</a>
											</dd>
											<dd class="url">
												<span>2015-10-13</span>
												<a href="NewsDetail-7246.html" title="河南省人民医院公开招聘超声医师的公告">河南省人民医院公开招聘超声医师的公告</a>
											</dd>
										</dl>
										<div class="BottomHidden"></div>
										<dl>
											<dt class="title01">省医快讯</dt>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8972.html" title="综合简讯">综合简讯</a>
											</dd>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8971.html" title="学界动态">学界动态</a>
											</dd>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8970.html" title="王思勤荣获全国对口支援新疆先进个人称号">王思勤荣获全国对口支援新疆先进个人称号</a>
											</dd>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8969.html" title="争当先锋模范 筑牢战斗堡垒 我院一批基层党组织和共产党员获上级表彰">争当先锋模范 筑牢战斗堡垒 我院一批基层党组织和共产党员获上级表彰</a>
											</dd>
										</dl>
									</div>
									<div class="navSub4 nav_Menu02 noPic">
										<dl>
											<dt class="title02">新业务新技术</dt>
											<dd class="url">
												<span>2017-02-07</span>
												<a href="NewsDetail-8561.html" title="血管外科成功完成全省首例血管仿生支架植入术">血管外科成功完成全省首例血管仿生支架植入术</a>
											</dd>
											<dd class="url">
												<span>2016-12-13</span>
												<a href="NewsDetail-8482.html" title="我院成功实施首例ECMO院间转运">我院成功实施首例ECMO院间转运</a>
											</dd>
											<dd class="url">
												<span>2016-12-13</span>
												<a href="NewsDetail-8481.html" title="介入科经桡动脉治疗93岁高龄颈动脉狭窄患者">介入科经桡动脉治疗93岁高龄颈动脉狭窄患者</a>
											</dd>
										</dl>
										<div class="BottomHidden"></div>
										<dl>
											<dt class="title02">服务动态</dt>
											<dd class="url">
												<span>2016-09-07</span>
												<a href="NewsDetail-8113.html" title="PICU完成全省首例超低体重儿食管狭窄球囊扩张术">PICU完成全省首例超低体重儿食管狭窄球囊扩张术</a>
											</dd>
											<dd class="url">
												<span>2016-09-06</span>
												<a href="NewsDetail-8094.html" title="全省首例单纯超声引导下 肺动脉瓣狭窄球囊扩张术成功救治8岁患儿">全省首例单纯超声引导下 肺动脉瓣狭窄球囊扩张术成功救治8岁患儿</a>
											</dd>
											<dd class="url">
												<span>2016-09-06</span>
												<a href="NewsDetail-8093.html" title="心电生理中心完成我院首例 心腔内超声指导下三维射频消融术">心电生理中心完成我院首例 心腔内超声指导下三维射频消融术
												</a>
											</dd>
										</dl>
										<div class="BottomHidden"></div>
										<dl>
											<dt class="title02">媒体看省医</dt>
											<dd class="url">
												<span>2016-11-09</span>
												<a href="NewsDetail-8345.html" title="好消息！河南省人民医院将免费救助百名先心病患儿">好消息！河南省人民医院将免费救助百名先心病患儿</a>
											</dd>
											<dd class="url">
												<span>2016-09-26</span>
												<a href="NewsDetail-8173.html" title="驻村就是驻心:第一书记打通驻马店村民奔小康的路">驻村就是驻心:第一书记打通驻马店村民奔小康的路</a>
											</dd>
											<dd class="url">
												<span>2016-09-26</span>
												<a href="NewsDetail-8172.html" title="《河南日报》百年省医孕育诞生河南省首家生殖专科医院 在尊重、关怀和爱中迎接一个个新的生命">《河南日报》百年省医孕育诞生河南省首家生殖专科医院 在尊重、关怀和爱中迎接一个个新的生命</a>
											</dd>
										</dl>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="./expert.html"><span>名医名科</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>就医服务</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>党群工作</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>科研教学</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>护理天地</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>招贤纳士</span><i></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- list container -->
	<div class="breadcrumb">
		<div class="xm-container">
			<a href="#">新闻中心</a><i>/</i><span>媒体聚焦</span>
		</div>
	</div>
	<div class="list-container">
		<div class="list-main">
			<div class="list-mian-nav">
				<h4 class="list-nav-title">新闻中心</h4>
				<ul class="list-nav-list">
					<li><a href="./media.html">媒体看厦心</a></li>
					<li><a href="./list-news.html">医院新闻</a></li>
					<li class="active"><a href="./video.html">影像厦心</a></li>
					<li><a href="./news-paper.html">电子院报</a></li>
				</ul>
			</div>
			<div class="baseRight list-news">
				<div class="title01">影像厦心</div>
				<div class="article detail">
					<h2 id="H2Title">好消息！河南省人民医院将免费救助百名先心病患儿</h2>
					<div id="DIVTool" class="title04">
						<span id="SPANDate">发布日期：2016-11-09</span>
						<span>字号调整
							<em id="EMChange">
								<img src="img/detail/font_ico02.png" alt="" width="22" height="23">
								<a class="fot12" href="javascript:;" data-type="0"></a>
								<a class="fot14" href="javascript:;" data-type="1"></a>
								<a class="fot16" href="javascript:;" data-type="2"></a>
							</em>
							<b id="FontState">14px</b>
						</span>
						<span id="SPANNum" style="border:none; margin-right:0;">浏览次数（3093）</span>
						<div class="itemBase" id="phoneArticle">
							<div class="divType">手机看新闻</div>
							<ul>
								<li><img src="uploadfiles/QR/news/8345.jpg" width="95" height="95" alt=""></li>
							</ul>
						</div>
						<div class="itemBase share">
							<div id="bdshare" class="bdshare_b divType" style="padding:0px; float:none;">分享此篇文章（<em class="shareCount" title="累计分享0次">0</em>）
							</div>
							<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=6713615" src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=417542"></script>
							<script type="text/javascript">document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000);</script>
						</div>
					</div>
					<div class="clear"></div>
					<div class="video-img-content">
						<div id="jp_container_1" class="jp-video" role="application" aria-label="media player">
							<div class="jp-type-playlist">
								<div id="jquery_jplayer_1" class="jp-jplayer"></div>
								<div class="jp-gui">
									<div class="jp-video-play">
										<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
									</div>
									<div class="jp-interface">
										<div class="jp-progress">
											<div class="jp-seek-bar">
												<div class="jp-play-bar"></div>
											</div>
										</div>
										<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
										<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
										<div class="jp-controls-holder">
											<div class="jp-controls">
												<button class="jp-previous" role="button" tabindex="0">previous</button>
												<button class="jp-play" role="button" tabindex="0">play</button>
												<button class="jp-next" role="button" tabindex="0">next</button>
												<button class="jp-stop" role="button" tabindex="0">stop</button>
											</div>
											<div class="jp-volume-controls">
												<button class="jp-mute" role="button" tabindex="0">mute</button>
												<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
												<div class="jp-volume-bar">
													<div class="jp-volume-bar-value"></div>
												</div>
											</div>
											<div class="jp-toggles">
												<button class="jp-repeat" role="button" tabindex="0">repeat</button>
												<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
												<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
											</div>
										</div>
										<div class="jp-details">
											<div class="jp-title" aria-label="title">&nbsp;</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="thumb-up">
            <span>你认为本篇文章有用吗？</span>
            <i class="up fa fa-thumbs-o-up"></i>
            <span>25个赞</span>
          </div> -->
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<div class="xm-footer">
		<div class="xm-footer-link">
			<a href="#">网站地图</a>
			<span>|</span>
			<a href="#">法律声明</a>
			<span>|</span>
			<a href="#">版权声明</a>
			<span>|</span>
			<a href="#">隐私安全</a>
			<span>|</span>
			<a href="#">帮助信息</a>
		</div>
		<p class="xm-footer-info">版权所有：厦门大学附属心血管病医院（本网站所有内容未经许可，不得以任何形式进行装载）</p>
		<p class="xm-footer-info">闽ICP备09051364号-1</p>
	</div>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/respond.min.js"></script>
	<script src="js/swiper-3.4.2.jquery.min.js"></script>
  <script src="./js/common.js"></script>
</body>
</html>
