<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/list.css">
	<link rel="stylesheet" href="css/common.css">
	<!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<!-- header -->
	<div class="xm-header">
		<div class="xm-container">
			<a href="#" class="header-logo"><img src="img/layout/logo.png" alt=""></a>
			<div class="xm-header-main">
				<div class="header-search">
					<input type="text" class="header-search-text">
					<input type="button" class="header-search-button">
				</div>
				<div class="header-icon">
					<span class="header-icon-lang">Engliash</span>
					<a href="#" class="header-icon-wechat"></a>
					<a href="#" class="header-icon-weibo"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- nav -->
	<div style="height: 60px;">
		<div class="xm-nav">
			<div class="xm-nav-container">
				<a href="#" class="xm-nav-brand">首页</a>
				<ul class="xm-navbar-nav">
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>走进厦心</span><i></i></a></li>
					<li class="xm-navbar-item">
						<a class="xm-navbar-item-info" href="./list-news.html"><span>新闻公告</span><i></i></a>
						<div class="navboxBase">
							<div class="navboxBg">
								<div class="navbox BaseMark">
									<div class="navMenus">
										<ul>
											<li class="first">
												<a href="media.html" title="媒体看厦心">媒体看厦心<span>进入</span></a>
											</li>
											<li>
												<a href="list-news.html" title="医院新闻">医院新闻<span>进入</span></a>
											</li>
											<li>
												<a href="video.html" title="影像厦心">影像厦心<span>进入</span></a>
											</li>
											<li><a href="news-paper.html" title="电子院报">电子院报<span>进入</span></a>
											</li>
										</ul>
									</div>
									<div class="navSub2 nav_Menu02 noPic NewsSub">
										<dl class="Img02">
											<dt class="title01">最新公告</dt>
											<dd class="pic">
												<img alt="最新公告" src="./img/pic/pic_002.jpg" width="126" height="77">
											</dd>
											<dd class="Lurl">
												<em>2017-03-09</em>
												<a href="NewsDetail-8623.html" title="河南省人民医院实验技术人员招聘公告">河南省人民医院实验技术人员招聘公告</a>
											</dd>
											<dd class="url">
												<span>2016-10-21</span>
												<a href="NewsDetail-8249.html" title="河南省立眼科医院（河南省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）">河南省立眼科医院（河南省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）</a>
											</dd>
											<dd class="url">
												<span>2016-10-21</span>
												<a href="NewsDetail-8248.html" title="河南省立眼科医院（河南省眼科研究所）临床部门干部竞聘实施方案（面向国内外）">河南省立眼科医院（河南省眼科研究所）临床部门干部竞聘实施方案（面向国内外）</a>
											</dd>
											<dd class="url">
												<span>2015-10-13</span>
												<a href="NewsDetail-7246.html" title="河南省人民医院公开招聘超声医师的公告">河南省人民医院公开招聘超声医师的公告</a>
											</dd>
										</dl>
										<div class="BottomHidden"></div>
										<dl>
											<dt class="title01">省医快讯</dt>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8972.html" title="综合简讯">综合简讯</a>
											</dd>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8971.html" title="学界动态">学界动态</a>
											</dd>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8970.html" title="王思勤荣获全国对口支援新疆先进个人称号">王思勤荣获全国对口支援新疆先进个人称号</a>
											</dd>
											<dd class="url">
												<span>2017-07-25</span>
												<a href="NewsDetail-8969.html" title="争当先锋模范 筑牢战斗堡垒 我院一批基层党组织和共产党员获上级表彰">争当先锋模范 筑牢战斗堡垒 我院一批基层党组织和共产党员获上级表彰</a>
											</dd>
										</dl>
									</div>
									<div class="navSub4 nav_Menu02 noPic">
										<dl>
											<dt class="title02">新业务新技术</dt>
											<dd class="url">
												<span>2017-02-07</span>
												<a href="NewsDetail-8561.html" title="血管外科成功完成全省首例血管仿生支架植入术">血管外科成功完成全省首例血管仿生支架植入术</a>
											</dd>
											<dd class="url">
												<span>2016-12-13</span>
												<a href="NewsDetail-8482.html" title="我院成功实施首例ECMO院间转运">我院成功实施首例ECMO院间转运</a>
											</dd>
											<dd class="url">
												<span>2016-12-13</span>
												<a href="NewsDetail-8481.html" title="介入科经桡动脉治疗93岁高龄颈动脉狭窄患者">介入科经桡动脉治疗93岁高龄颈动脉狭窄患者</a>
											</dd>
										</dl>
										<div class="BottomHidden"></div>
										<dl>
											<dt class="title02">服务动态</dt>
											<dd class="url">
												<span>2016-09-07</span>
												<a href="NewsDetail-8113.html" title="PICU完成全省首例超低体重儿食管狭窄球囊扩张术">PICU完成全省首例超低体重儿食管狭窄球囊扩张术</a>
											</dd>
											<dd class="url">
												<span>2016-09-06</span>
												<a href="NewsDetail-8094.html" title="全省首例单纯超声引导下 肺动脉瓣狭窄球囊扩张术成功救治8岁患儿">全省首例单纯超声引导下 肺动脉瓣狭窄球囊扩张术成功救治8岁患儿</a>
											</dd>
											<dd class="url">
												<span>2016-09-06</span>
												<a href="NewsDetail-8093.html" title="心电生理中心完成我院首例 心腔内超声指导下三维射频消融术">心电生理中心完成我院首例 心腔内超声指导下三维射频消融术
												</a>
											</dd>
										</dl>
										<div class="BottomHidden"></div>
										<dl>
											<dt class="title02">媒体看省医</dt>
											<dd class="url">
												<span>2016-11-09</span>
												<a href="NewsDetail-8345.html" title="好消息！河南省人民医院将免费救助百名先心病患儿">好消息！河南省人民医院将免费救助百名先心病患儿</a>
											</dd>
											<dd class="url">
												<span>2016-09-26</span>
												<a href="NewsDetail-8173.html" title="驻村就是驻心:第一书记打通驻马店村民奔小康的路">驻村就是驻心:第一书记打通驻马店村民奔小康的路</a>
											</dd>
											<dd class="url">
												<span>2016-09-26</span>
												<a href="NewsDetail-8172.html" title="《河南日报》百年省医孕育诞生河南省首家生殖专科医院 在尊重、关怀和爱中迎接一个个新的生命">《河南日报》百年省医孕育诞生河南省首家生殖专科医院 在尊重、关怀和爱中迎接一个个新的生命</a>
											</dd>
										</dl>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="./expert.html"><span>名医名科</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>就医服务</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>党群工作</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>科研教学</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>护理天地</span><i></i></a></li>
					<li class="xm-navbar-item"><a class="xm-navbar-item-info" href="#"><span>招贤纳士</span><i></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- list container -->
	<div class="breadcrumb">
		<div class="xm-container xt-container">
			<a href="#">胸痛中心</a>
		</div>
	</div>
	<div class="list-container">
		<div class="bannerBase BaseMark">
      <div class="quickMenus">
        <ul class="firstUl">
          <li class="first">
            <a href="ArticleList-54.html" class="firstA">
              <em>认证中心</em>
              <i class="style01"></i>
              <span></span>
            </a>
            <div class="QMSub QMSubMenus" style="top: -12px; display: none;">
              <ul>
                <li>
                  <a href="XTindex-detail.html" title="胸痛中心简介">胸痛中心简介<span>进入</span></a>
                </li>
                <li>
                  <a href="XTindex-list.html" title="胸痛认证标准">胸痛认证标准<span>进入</span></a>
                </li>
                <li><a href="DutyTime.html" title="申报胸痛中心">申报胸痛中心<span>进入</span></a></li>
                <li><a href="ArticleList-56.html" title="下载学习资料">下载学习资料<span>进入</span></a></li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
          <li class="first">
            <a href="NewsDetail-449.html" target="_blank" class="firstA"><em>示范中心</em><i class="style02"></i><span></span></a>
            <div class="QMSub QMSubMenus" style="top: -73px; display: none;">
              <ul>
                <li><a href="NewsDetail-449.html">申请流程<span>进入</span></a></li>
                <li><a href="NewsDetail-449.html">注意事项<span>进入</span></a></li>
                <li><a href="NewsDetail-449.html">申请表下载<span>进入</span></a></li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
          <li class="first">
            <a href="DutyTime.html" class="firstA"><em>胸痛中心动态</em><i class="style03"></i><span></span></a>
            <div class="QMSub QMSubMenus" style="top: -134px; display: none;">
              <ul>
                <li>
                  <a href="DutyTime-1.html" title="媒体资料">媒体资料<span>进入</span></a>
                </li>
                <li><a href="DutyTime-2.html" title="会议报道">会议报道<span>进入</span></a></li>
              </ul>
              <div class="clear"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="Banners">
        <div class="swiper-container xt-swiper" id="xtSwiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="img/slider1.jpg" alt=""></div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <div class="NewsBase BaseMark">
      <div class="tools">
        <a href="http://www.o2omed.com.cn/" target="_blank">
          <img src="image/ico_001.gif" class="load" width="52" height="52" original="image/ico_001.gif">
          <em>互联智慧分诊平台</em>
        </a>
        <a href="96195.html">
          <img src="image/ico_002.gif" class="load" width="52" height="52" original="image/ico_002.gif">
          <em><span>96195</span>综合平台</em>
        </a>
        <a href="Hospital.html">
          <img alt="" src="image/ico_003.gif" class="load" width="52" height="52" original="image/ico_003.gif" style="display: block;">
          <em>名医馆</em>
        </a>
        <a href="DrugsInfo.html" class="last">
          <img src="image/ico_004.gif" class="load" width="52" height="52" original="image/ico_004.gif" style="display: block;">
          <em>信息查询</em>
        </a>
      </div>
      <div class="noticeBase">
        <div class="notice notice01">
          <a href="NoticeList-49.html" class="more">更多</a>
          <div class="title"><em>最新公告</em><span>Latest Announcement</span></div>
          <div class="first">
            <a href="NewsDetail-8958.html" id="ANoticeFirst" target="_blank" title="2017年7月29日（周六）、7月30日（周日）出诊医师排班表">
              <img src="image/pic_005.jpg" class="load" width="126" height="76" original="image/pic_005.jpg" style="display: block;"></a>
              <div>
                <span>2017-07-21</span>
                <a href="NewsDetail-8958.html" title="2017年7月29日（周六）、7月30日（周日）出诊医师排班表" target="_blank">2017年7月29日（周六）、7月30日（周日）出诊医师排班表</a>
              </div>
              <div class="clear"></div>
          </div>
          <ul>
            <li>
              <span>2017-07-14</span>
              <a target="_blank" href="NewsDetail-8952.html" title="2017年7月22日（周六）、7月23日（周日）出诊医师排班表">2017年7月22日（周六）、7月23日（周日）出诊医师排班表</a>
            </li>
            <li>
              <span>2017-07-07</span>
              <a target="_blank" href="NewsDetail-8933.html" title="2017年7月15日（周六）、7月16日（周日）出诊医师排班表">2017年7月15日（周六）、7月16日（周日）出诊医师排班表</a>
            </li>
            <li>
              <span>2017-07-01</span>
              <a target="_blank" href="NewsDetail-8900.html" title="2017年7月8日（周六）、7月9日（周日）出诊医师排班表">2017年7月8日（周六）、7月9日（周日）出诊医师排班表</a>
            </li>
          </ul>
        </div>
        <div class="notice notice02">
          <a href="NewsList-20.html" class="more">更多</a>
          <div class="title"><em>省医快讯</em><span>Hospital News</span></div>
          <div class="first">
            <a href="NewsDetail-8972.html" id="ANewsFirst" target="_blank" title="综合简讯"><img src="pic/pic_005.jpg" class="load" width="126" height="76" original="pic/pic_005.jpg" style="display: block;"></a>
            <div>
              <span>2017-07-25</span>
              <a href="NewsDetail-8972.html" title="综合简讯" target="_blank">综合简讯</a>
            </div>
            <div class="clear"></div>
          </div>
          <ul>
            <li>
              <span>2017-07-25</span>
              <a target="_blank" href="NewsDetail-8971.html" title="学界动态">学界动态</a>
            </li>
            <li>
              <span>2017-07-25</span>
              <a target="_blank" href="NewsDetail-8970.html" title="王思勤荣获全国对口支援新疆先进个人称号">王思勤荣获全国对口支援新疆先进个人称号</a>
            </li>
            <li>
              <span>2017-07-25</span>
              <a target="_blank" href="NewsDetail-8969.html" title="争当先锋模范 筑牢战斗堡垒 我院一批基层党组织和共产党员获上级表彰">争当先锋模范 筑牢战斗堡垒 我院一批基层党组织和共产党员获上级表彰</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
	</div>
	<!-- footer -->
	<div class="xm-footer">
		<div class="xm-footer-link">
			<a href="#">网站地图</a>
			<span>|</span>
			<a href="#">法律声明</a>
			<span>|</span>
			<a href="#">版权声明</a>
			<span>|</span>
			<a href="#">隐私安全</a>
			<span>|</span>
			<a href="#">帮助信息</a>
		</div>
		<p class="xm-footer-info">版权所有：厦门大学心血管病医院（本网站所有内容未经许可，不得以任何形式进行装载）</p>
		<p class="xm-footer-info">闽ICP备09051364号-1</p>
	</div>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/respond.min.js"></script>
	<script src="js/swiper-3.4.2.jquery.min.js"></script>
  <script src="./js/common.js"></script>
</body>
</html>
